@using KanbanVideo.Dto
@model CadastroAtividadeDto



<div class="container mt-5">

    <form asp-action="Cadastrar" asp-controller="Atividade" method="post">


        <div class="mb-3">
            <label class="form-label">Título</label>
            <input type="text" class="form-control" asp-for="Titulo" />
        </div>

        <div class="mb-3">
            <label class="form-label">Descrição</label>
            <input type="text" class="form-control" asp-for="Descricao" />
        </div>


        <div class="mb-3">
            <label class="form-label">Status</label>
            <select
                asp-for="StatusId"
                class="form-select"
                asp-items="@(new SelectList(ViewBag.Status,"Id","Nome"))"
            >

            </select>
        </div>

        <div class="d-flex">
            <button type="submit" class="btn btn-primary w-50">Cadastrar</button>
            <a class="btn btn-info w-50 mx-2" asp-action="Index" asp-controller="Atividade">Voltar</a>
        </div>

    </form>

</div>